.container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.listItem {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  transition: background-color 0.2s ease;
}

.listItem:hover {
  background-color: #f1f1f1;
}
